<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap3 uap5 com rescap">

  <Identity
    Name="NetFlow.Widget"
    Publisher="CN=Development"
    Version="0.2.1.0"
    ProcessorArchitecture="x64" />

  <Properties>
    <DisplayName>Net Flow</DisplayName>
    <PublisherDisplayName>Net Flow Developers</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.22621.0" />
    <PackageDependency Name="Microsoft.WindowsAppRuntime.1.7" MinVersion="7000.785.2325.0" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" />
  </Dependencies>

  <Resources>
    <Resource Language="en-us" />
  </Resources>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>

  <Applications>
    <Application Id="NetFlowApp"
      Executable="net-flow.exe"
      EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="Net Flow"
        Description="Real-time network bandwidth monitor widget for Windows 11"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
      </uap:VisualElements>

      <Extensions>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer Executable="net-flow.exe" Arguments="-RegisterProcessAsComServer" DisplayName="Net Flow Widget Provider">
              <com:Class Id="A8E4C976-3F5D-4B2E-9C1A-7D6E8F0B2A4C" DisplayName="Net Flow Widget Provider" />
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>

        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension Name="com.microsoft.windows.widgets"
            Id="NetFlowWidget"
            DisplayName="Net Flow"
            Description="Real-time download and upload speed meter"
            PublicFolder="Public">
            <uap3:Properties>
              <WidgetProvider>
                <ProviderIcons>
                  <Icon Path="Assets\Square44x44Logo.png" />
                </ProviderIcons>
                <Activation>
                  <CreateInstance ClassId="A8E4C976-3F5D-4B2E-9C1A-7D6E8F0B2A4C" />
                </Activation>
                <Definitions>
                  <Definition Id="NetFlow_Speed"
                    DisplayName="Net Flow"
                    Description="Real-time network transfer rates and session usage"
                    AllowMultiple="true"
                    IsCustomizable="true">
                    <Capabilities>
                      <Capability>
                        <Size Name="small" />
                      </Capability>
                      <Capability>
                        <Size Name="medium" />
                      </Capability>
                      <Capability>
                        <Size Name="large" />
                      </Capability>
                    </Capabilities>
                    <ThemeResources>
                      <Icons>
                        <Icon Path="Assets\Square44x44Logo.png" />
                      </Icons>
                      <Screenshots>
                        <Screenshot Path="Assets\Square150x150Logo.png" DisplayAltText="Net Flow" />
                      </Screenshots>
                    </ThemeResources>
                  </Definition>
                </Definitions>
              </WidgetProvider>
            </uap3:Properties>
          </uap3:AppExtension>
        </uap3:Extension>

        <uap5:Extension Category="windows.startupTask" Executable="net-flow.exe" EntryPoint="Windows.FullTrustApplication">
          <uap5:StartupTask
            TaskId="NetFlowStartup"
            Enabled="true"
            DisplayName="Net Flow" />
        </uap5:Extension>
      </Extensions>
    </Application>
  </Applications>
</Package>
